.page-one{
    width: 1325px;max-width: 100%; height: 900px;max-height: 100%;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);
}
.body-one{
    height: 100vh;
    background-color: #f1ffff;
}
.image-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.status-online{
    width: 10px;
    height: 10px;
    border-radius: 50%;    background-color: rgb(0, 141, 9);

}
.status-offline{
    width: 10px;
    height: 10px;
    border-radius: 50%;    background-color: rgb(255, 0, 0);

}
.box-message{
    background-image: url('/storage/images/chat.jpg');
    background-size: 520px;
}
.msg{
    width: 51%;
    max-width: 51%;
    min-width: 51%;
}

.msg-am{
    float: right;
    background-color: rgb(155, 255, 155);
}

.msg-you{
    float: left;
    background-color: rgb(195, 216, 255);
}

.box-message::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: none;
}

.box-message::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 100px;
}

/* ------------------ */
button {
    --border-radius: 25px;
    --border-width: 7px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    z-index: 2;
  }

  button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    background-image: conic-gradient(
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080
      );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
            mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 500ms infinite;
    animation-play-state: paused;
    border-radius: 20px;
    border-color: #000;
  }

  button:hover::after {
    animation-play-state: running;
    border-radius: 10px;
  }

  @keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }

  button,
  button::after {
    box-sizing: border-box;
    border-radius: 20px;
  }

  button:active {
    --border-width: 5px;
  }

  .bn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 32px;
  }

  .bn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgb(46, 46, 46); */
    left: 0;
    top: 0;
  }
.bn:hover .name-profile{
    color: white;
}
  .bn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #8ddfff, #f5f3ff, #ddd5ff, #aeaeae,
        #c1bbff, #9a88ff, #b1ffcf, #c4b7ff
  );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing345 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
    opacity: 0;
  }

  @keyframes glowing345 {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .bn:hover::before {
    opacity: 1;
  }

  .bn:active:after {
    background: transparent;
  }

  .bn:active {
    color: #000;
    font-weight: bold;
  }




  /* ------------------------------------ */
  .Message {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #40414f;
    transform: translate(0px,0px);
    box-shadow: 5px 5px #34343f;
  }

  .MsgInput {
    font-size: 18px;
    border-radius: 5px;
    background-color: #40414f;
    border: none;
    outline: none;
    width: 94%;
    height: 30px;
    transform: translate(5px,-3px);
    color: white;
    padding: 10px;
    font-weight: bold;
  }

  .SendSVG {
    width: 30px;
    height: 30px;
    border-width: 50px;
    transform: translate(20px,5px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .SendSVG:hover {
    background-color: #2b2b35;
  }

  .l {
    position: absolute;
    width: 1%;
    height: 30px;
    background-color: #2e2f38;
    transform: translate(-20px,5px);
  }

